<% @warehouse_documents.each do |d| %>
<tr class="<%= cycle('list_line_odd','list_line_even') %>" >
  
  <td class="list_description">
    <%= link_to d.id, warehouse_document_warehouse_details_path(d) %> 
  </td>
  
  <td class="list_description">
    <%= d.dataora %>
  </td>
  
  <td class="list_description">
    <%= d.user.emri %>
  </td>
  
  <td class="list_description">
    <%= d.department.departamenti %>
  </td>
  
</tr>

<% end %>


