<% provide(:title, "Shto kontrate") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="pending_info">
        <%= render 'shared/pending_info' %>
      </section>
      <section class="perkujtimet_info">
        <%= render 'shared/perkujtimet' %>
      </section>
      
    </aside>
    <div class="col-md-8">
      <h1>Shto kontrate te re</h1>
      <%= form_for(@contract) do |f| %>
        <%= render 'fields', f: f %>
    
        <%= f.submit "Shto kontraten", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
<% else %>
  <h3>Kycuni, ju lutem!</h3>  
<% end %>

