<% provide(:title, @user.emri) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
        <span>
        <%= image_tag @user.picture_url, class: "avatar" if @user.picture? %>
        </span>
        <h1>
          <%= @user.emri %>
        </h1>      
    </section>
  </aside>
  <div class="col-md-8">
    <% if @user.leaves.any? %>
    <h3>(<%= @user.leaves.count %>) pushime</h3>
    <ol class="leaves">
      <%=  render @leaves %>
    </ol>
    <%= will_paginate @leaves %>
    <% end %>
  </div>
</div>
