<li id="leave-<%= leave.id %>">
  <%= leave.user %>
  <span class="user"><%= link_to leave.user.emri, leave.emri %></span>
  <span class="arsyetimi"><%= leave.arsyetimi %></span>
  <span class="dita-pare"><%= leave.dita_pare %></span>
  <span class="dita-fundit"><%= leave.dita_fundit %></span>
  <span class="totali-diteve"><%= leave.totali_diteve %></span>
  
</li>