<li id="leave-<%= leave.id %>">
  <span class="user"><%= link_to leave.user.emri, leave.user %></span>
  <span class="arsyetimi"><%= leave.arsyetimi %>   <%= leave.dita_pare %>   <%= leave.dalja_ne_pune %></span>
  
  
</li>