<%= form_for [@warehouse_document, @warehouse_detail], remote: true, html: { class: "form-horizontal", style: "display:inline;" }  do |f| %>
  <div class="modal-body">
    <ul class="errors"></ul>
    
    
    <div class="row">
      <div class="col-md-12">
        <%= f.label :item_id, "Artikullil", class: "control-label" %>
        <div class="input-group">
          <%= f.collection_select :item_id, Item.tenjesis(@user.department_id).order(:id), :id, :emertimi, include_blank: true %>
          <span class="input-group-btn">
            <%= link_to "Shto artikullin", anulo_furnizimin_path, class: "btn btn-default" %>
          </span>
        </div>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :sasia, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :sasia %>
      </div>
    </div>
    
    <div class="control-group">
      <%= f.label :cmimi, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :cmimi %>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <%= f.submit "Shto artikullin",   class: "btn btn-primary" %>
    <%= link_to "Anulo", "#", class: "btn", data: {dismiss: "modal"} %>
  </div>
<% end %>