<% @items.each do |i| %>
<tr class="<%= cycle('list_line_odd','list_line_even') %> ">
  
  <td class="list_description">
    <%= link_to i.emertimi, i %>
  </td>
  
  <td class="list_description">
    <%= i.pershkrimi %>
  </td>
  
  <td class="list_description">
    <% if i.unit_id.nil? %>
      <%= "nuk ka" %>
    <% else %>
      <%= i.unit.njesia %>
    <% end %>
  </td>
  
  <td class="list_description">
    <% if i.department_id.nil? %>
      <%= "nuk ka" %>
    <% else %>
      <%= i.department_id %>
    <% end %>
  </td>
  
</tr>
<% end %>